<%= form_for(@book) do |f| %>
<%= render 'shared/validation_errors', object: @book %>
<dl>
	<dt><%= f.label :title %></dt>	
	<dd><%= f.text_field :title, autofocus: true %></dd>

	<dt><%= f.label :author %></dt>
	<dd><%= f.text_field :author %></dd>

	<dt><%= f.label :pages %></dt>
	<dd><%= f.text_field :pages %></dd>

	<dt><%= f.label :price %></dt>
	<dd><%= f.text_field :price %></dd>

	<p>
		<%= f.submit %> 
		<%= link_to "Cancel".html_safe, books_path %>
	</p>
<% end %>